body, html{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(245, 125, 12, 0.9);
}


.part {
    color:brown;
    font-size: 32px;
}

.tot {
    color:brown;
    font-size: 32px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 70px;  
}
h1{
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
.add{
    margin: 20px;
}

.pourb{
    margin: 20px;
}

.partag{
    margin: 20px;
}


